.image-cont {
 /*  border: 8px solid #c8f2f2; */
  height: 100%;
  width: 100% !important;

  /* overflow: hidden !important; */
  position: absolute;
  background-color:#d2a295 ;
  /* background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png"); */
}

.welcome-text {
  text-align: center;
}
.rem-container {
  width: 100%;
 /*  border:hotpink solid 2px; */
  height: 100vw;
  background-color:#d2a295 ;
 /*  background-image: url(https://www.transparenttextures.com/patterns/dirty-old-black-shirt.png); */
}
.task-head {
  display: flex;
  justify-content: center;
  color:#dc0764;
}
.task-heading {
  font-size: 2em;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  text-decoration: underline;
  color:#dc0764;
}

#selected-btn {
  text-decoration: underline;
}
.sort-btn,.filter-btn {
  color: green;
}
.sort-filt {
  font-size: 2em;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 /*  border:red solid 1px; */
}

.sort-cont{
  display: flex;
  /* border:aqua solid 1px; */
  justify-content: space-between;
  width:20%;
}
.filter-cont{
  display: flex;
  /* border:aqua solid 1px; */
  justify-content: space-between;
  width:25%;
}
.display-reminder{
  background-color: #d2a295 ;
}
.add-rem {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: center;
  /* background-color: #d2a295 ; */
}
.rem-btn {
  padding: 0.1px;
  font-size: 1.1em;
 /*  border: black solid 2px; */
  border-radius: 20px;
  width: 30%;
  height: 5.5vw;
  background-color: #f44336;
  color: white;
}
.rem-btn:hover {
  background-color: goldenrod;
  color: black;
}

@media (max-width: 800px) {

  .sort-cont,.filter-cont{
    display: flex;
    flex-direction: column;
    /* border:aqua solid 1px; */
    justify-content: space-between;
    width:20%;
    font-size: 3.5vw;
    margin-bottom: 10px;
  }
  .task-head,
  .sort-btn {
    font-size: 3.5vw;
  }
  .status {
    width: 5%;
    font-size: 3.5vw;
  }
  .delete {
    width: 5%;
    font-size: 3.5vw;
  }

  .rem-card {
    width: 95%;
    font-size: 3.7vw;
  }
  .rem-btn {
    font-size: 4vw;
    width: 80%;
    height: 50%;
  }
  .rem-container{
    background-color:#d2a295 ;
  }
  .image-cont{
    background-color:#d2a295 ;
  }
  #heading{
    font-size: 50px;
  }
}
@media (max-width: 830px) {
  .rem-btn {
    font-size: 4vw;
    width: 70%;
    height: 80%;
  }
  .rem-container{
    background-color:#d2a295 ;
  }
  .image-cont{
    background-color:#d2a295 ;
  }
  #heading{
    font-size: 50px;
  }
  #creator {
    display: none;
  }
}
